@import "_common"
@import "_header"
@import "_sidebar"
@import "_sponsors-index"
@import "_modal"

$width = 900px
$space = 40px

body
  
#logo
  span
    font-size: 1.2em

.sidebar
  display: none

.lang
  font-size: 0.8em

#mobile-bar
  &.top
    background-color: transparent
    box-shadow: none
    .logo
      display: none

#hero
  padding: 50px 40px
  .inner
    max-width: $width
    margin: 0 auto
  .introduce
    margin: 0 auto  
    p
    text-align: center
    // letter-spacing: 0.05em
    color: #666666
    font-size: 1.5em
    font-family: "PingFangSC-Regular"
  .start
    p
    text-align: center
    // letter-spacing: 0.05em
    font-size: 1.25em
    font-family: "PingFangSC-Regular"
  .left, .right
    display: inline-block
    vertical-align: top
  .left
    width: 39%
  .right
    width: 61%
  .hero-logo
    width: 215px
    height: 215px
    float: right
    margin-right: 60px
  h1
    // margin: 0
    font-size: 3em
    font-family: "PingFangSC-Semibold"
    color:#333333
    text-align: center
  h2
    font-family: $logo-font
    font-weight: 500
    font-size: 2.4em
    margin: 0 0 10px
    display: none
  .button
    margin: 1em 0
    font-size: 1em
    // font-weight: 600
    // letter-spacing: .1em
    width: 9em
    height: 2.7em
    line-height: 2.7em
    text-align: center
    &:not(:last-child)
      margin-right: 2%
  .social-buttons
    list-style-type: none
    padding: 0
    li
      display: inline-block
      vertical-align: middle
      margin-right: 15px


#highlights
  // background-color: rgb(246 ,246 ,246 )
  padding: 4em 0
  // padding-bottom: 50px
  .inner
    max-width: 1300px
    margin: 0 auto
    text-align: center
  .point
    width: 33%
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    padding: 0 2em
    h2
      font-size: 1.75em
      font-family: "PingFangSC-Regular"
      color: #000000
      font-weight: normal 
      // font-weight: 400
      margin: 0
      padding: .5em 0
    p
      color: $light
    ul 
      padding: 0
      li
        list-style-type: none 
        padding: .3em 0
        a
         color: $green
         font-size: 1.1em
         font-family: "PingFangSC-Regular"
         

#footer
  // padding: $space 1.5em
  color: #333333
  background-color: rgb(235 , 235 , 235)
  ul
    padding: 0
    margin: 0
    display: flex
    li
      list-style-type: none
      padding-right: 3em
      position: relative
      .qrcode:hover .qrcodeImg
        display: block
      .hero-logo
        width: 3em
        height: 2.5em
      .qrcodeImg
        display: none 
        position: absolute
        bottom: 60px
        right: 70px
        width: 200px
        height: 200px

  .social-icon
    display: flex
    justify-content: space-between
    align-items: center
    // margin 0 5px
    padding: 4.8% 7.5% 4.8% 8.3%
    p
      margin: 0
      .downicon
        width: 3.2em
        height: 3.7em
        margin-bottom: 0.75em
    .foot-text
      font-size: 1.75em
      color: #333333
    .foot-contact
      font-size: 1.5em
      color: #333333
      margin-bottom: 1.35em
  .Copyright
    background: rgb(138 ,138 ,138)
    p
      text-align: center  
      margin: 0
      padding: 1em 0
      font-size: 0.8em
      color: #fff
  a
    font-weight: 700
    color: #fff

@media screen and (max-width: $width)
  body
    -webkit-text-size-adjust: none
    font-size: 14px
  .sidebar
    display: block
  #header
    display: none
  #mobile-bar
    display: block
  #hero
    padding: $space 40px 30px
    .hero-logo
      float: none
      margin: 30px 0 15px
      width: 140px
      height: 140px
    .left, .right
      text-align: center
      width: 100%
    .introduce
      font-size: 1.2em
    h1
      font-size: 2em
    h2
      display: block
    .button
      font-size: .9em
  #special-sponsor
    span
      display: block
    img
      width: 125px
  #highlights
    .point
      display: block
      margin: 0 auto
      width: 300px
      padding: 0 40px 30px
      &:before
        content: "—"
        color: $green
  #footer
    ul
      li
        padding-right: 1em
        .hero-logo
          width: 1.75em 
          height: 1.5em 
        .qrcodeImg
          bottom: 30px
          right: 20px
          width: 70px
          height: 70px  
    .social-icon
      .foot-text,.foot-contact
        font-size: 1em

@media screen and (max-width: 1200px)
  #nav
    li
      margin: 0 0.8em
            
